#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow: hidden;
    text-align: center;
}

#navbar * {
    transition-duration: 0.5s;
}

#navbar li {
    float: none;
      box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.3);  
    background-color: white;
}

@media only screen and (min-width: 480px) {
    #navbar li {
        border: none;
        float: left;
    }
}

#navbar li a,
#navbar li span,
#navbar .dropbtn {
    display: inline-block;
    color: #3367aa;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px solid #3367aa;
    border-radius: 15px;
}

#navbar > div {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}

/* #navbar li a:hover, */

#navbar a:hover {
    background-color: #3367aa;
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    transform: rotate(360deg);
    border: 1px solid white;
}

#navbar span:hover {
    background-color: #3367aa;
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    border: 1px solid white;
}

#navbar li.dropdown {
    display: inline-block;
}

#navbar .dropdown-content {
    display: none;
    position: absolute;
     background-color: white; 
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    z-index: 1;
}

#navbar .dropdown-content a {
    color: #3367aa;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

 #navbar .dropdown-content a:hover {
    color: white;
} 

#navbar .dropdown:hover .dropdown-content {
    display: block;
}

#navbar .active {
    background-color: #77ddaa;
}