.big-letter {
    font-size: 5em;
    font-style: italic;
    font-weight: bolder;
    font-family: serif;
}

.outer {
    width: 200px;
    height: 200px;
    background-color: skyblue;
    box-sizing: border-box;
    
}

.outer div {
    width: 100px;
    height: 100px;
    background-color: white;
    box-sizing: border-box;
}

div {
    border: 3px dashed #000;
}

.inner1 {
    float: right;
    margin: 10px;
    padding: 20px;
}

.inner2 {
    float: left;
    margin: 10px;
    padding: 10px;
}

.inner3 {
    float: right;
    margin-top: 40px;
    margin-right: 0;
    padding: 0;
}