BasedOnStyle: Google
AlignAfterOpenBracket: DontAlign
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'true'
AlignOperands: 'true'
AlignTrailingComments: 'true'
AllowAllParametersOfDeclarationOnNextLine: 'true'
AllowShortFunctionsOnASingleLine: Inline
AllowShortCaseLabelsOnASingleLine: true
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: 'false'
BreakStringLiterals: 'false'
PenaltyBreakString: '0'
ReflowComments: 'false'
Standard: Cpp11
AlignEscapedNewlinesLeft: true
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortIfStatementsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: 'true'
AllowShortLoopsOnASingleLine: true
BreakBeforeBinaryOperators: false
BreakBeforeTernaryOperators: false
ColumnLimit: 0
Language: Cpp