body {
    font-family: serif;
}

#sidebar {
    position: fixed;
    padding: 1%;
    background-color: #00cccc;
    color: white;
    max-width: 10%;
    top: 15px;
    left: 15px;
}

h1 {
    position: relative;
    margin-left: 25%;
}

#sidebar + p {
    /* left: 0; */
}

.important {
    position: absolute;
    top: 20%;
    right: 2.5%;
    background-color: yellow;
    width: 20%;
    height: 10%;
    overflow-y: scroll;
}

.not-important {
    position: relative;
    top: 20%;    
    background-color: red;
    width: 20%;
    max-height: 100px;
    overflow: hidden;
}

.more-important {
     position: relative; 
    background-color: magenta;
      top: -40px;  
      left: 40px;  
      margin-left: 25px;
    max-width: 200px;
    max-height: 55px;
    z-index: -1;
    overflow: visible;
    
}
.more-important p {
}