//Credit: https://bootsnipp.com/snippets/featured/tall-footer-with-gradient-image
#footer
  .container
    .row
      br
      .col-md-4
        center.logo
          img.img-circle(src='/assets/brackets.jpg' alt='the-brains')
          br
          h4.footertext Programmer
          p.footertext
      .col-md-4
        center.logo
          img.img-circle(src='/assets/pen.jpg' alt='...')
          br
          h4.footertext Artist
          p.footertext
      .col-md-4
        center.logo
          img.img-circle(src='/assets/wand.jpg' alt='...')
          br
          h4.footertext Magician
          p.footertext
    .row
      p
        center
          h4 I have many talents!
          p.footertext Copyright 2018
